<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <style>
    h1 {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      border-collapse: collapse;
      width: 80%;
    }

    #dashboard {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      border-collapse: collapse;
      width: 80%;
    }

    #dashboard td,
    #dashboard th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #dashboard tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    #dashboard th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #ff0457;
      color: white;
    }
  </style>
</head>

<body>
  <h1>
    XXXXXX, <span th:text="${user.name}"></span>
    <p></p>
    XXX XXXX XX X XXXXX: "<span th:text="${user.username}"></span>", XX XX XXXXXX XX.
    <a th:href="@{{url}/#/confirm-register(url=${setting.value},token=${user.token})}">Confirm Register</a> XXXXXX
        XX.
        <p></p>
    </h1>
    <h1>
        XXXXXX,
        <p></p>
        XXXX.XXX.XXXXX
    </h1>
</body>

</html>